* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #ED8E7C;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
   float: left; 
}

nav ul li a {
    color: #ED8E7C;
    font-weight: 800;
    text-align: center;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.kolom {
    margin-top: 140px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'cursive';
    color: #000000;
}

h2 {
    font-size: 15px;
    font-weight: 900;
    font-family: 'cursive';
    color: #000000;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'cursive';
    color: #000000;
}
p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.works-list {
    position: relative;
    display: grid;
    list-style-type: none;
    margin-right: 100px;
    margin-left: 50px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.works-img {
    width: 100%;
    margin: 0 auto;
}

.works-img img{
    border-radius: 10%;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 10px 2px #ED8E7C;
    padding: 10px;
    margin: 10px;
    
}

.works-img p{
    font-family: 'Lucida Sans';
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #ED8E7C;
    margin-top: 0px;
    margin-bottom: 20px;
}

.my-hobby {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 0cm 0cm;
    margin-left: 200px;
    margin-right: 200px;
}

.my-hobby p{
    margin-top: 150px;
    font-size: 16px;
}

.skill-interest {
    margin-left:100px;
    margin-right: 100px;
}

.skill-interest ul {
    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}
.skill-interest ul li {
    padding: 2em;
    color:#ED8E7C;
}
.skill-interest li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: #cf6752;
}

@media screen and (max-width: 990.95px) {
    .wrapper {
        width: 90%;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
    }

    .works-list {
        display: block;
        align-content: center;
    }      

    .works-img {
        display: block;
        align-content: center;
    }

    .works-img p {
        display: block;
        text-align: center;
    }

    .my-hobby {
        display: block;
    }
}